@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  color: black;
  height: 100vh;
}

.buttons {
  position: fixed;
  top: 20%;
  right: 10%;
  width: 150px;
  height: 50px;
  text-align: center;
  z-index: 1;
}

.buttons button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-transform: uppercase;
  background-color: #102f10;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 0 0 10px grey;
          box-shadow: 0 0 10px grey;
}

.buttons button:hover {
  background-color: #143d14;
}

.buttons button:active {
  background-color: #8c9e6c;
}

.buttons button.reset {
  background-color: brown;
}

.buttons button.reset:hover {
  background-color: red;
}

.buttons button.reset:active {
  background-color: #af4c4c;
}

.buttons:nth-child(2) {
  top: 30%;
}

@media (max-width: 1024px) {
  .buttons {
    top: 20px;
    right: 60%;
    width: 120px;
    height: 40px;
  }
  .buttons button {
    font-size: 20px;
  }
  .buttons:nth-child(2) {
    top: 20px;
    right: 25%;
  }
}

@media (max-width: 600px) {
  .buttons:nth-child(2) {
    right: 20%;
  }
}

@media (max-width: 400px) {
  .buttons:nth-child(2) {
    right: 10%;
  }
}

section.main {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(45deg, #004900, black, #050505);
  height: 80vh;
  width: 80%;
  -webkit-box-shadow: 0 0 10px 3px white;
          box-shadow: 0 0 10px 3px white;
  border-radius: 10px;
}

section.main div {
  text-align: center;
  width: 40%;
  height: 70px;
  margin: 5px;
  font-size: 20px;
  background-color: #585858;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

section.main div input {
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  height: 30px;
  outline: none;
  text-align: center;
  font-size: 18px;
  background-color: white;
}

section.main div input:focus {
  background-color: #a2ce8d;
}

section.main div p {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  background-color: #cccbcb;
  color: black;
}

section.main div:hover {
  background-color: #646464;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

@media (max-width: 1024px) {
  section.main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    height: 80vh;
    width: 80%;
  }
  section.main div {
    width: 80%;
    height: 70px;
  }
}

.nat-rub-bg {
  background-color: white;
}

section.tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

section.tables h1 {
  margin-top: 20px;
}

section.tables div.sample {
  margin: 10px auto;
}

section.tables table,
section.tables th,
section.tables td {
  border-collapse: collapse;
  font-size: 17px;
}

section.tables th,
section.tables td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 100px;
  height: 25px;
}

section.tables th span,
section.tables td span {
  width: 100%;
  height: 100%;
}

section.tables th input,
section.tables td input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 20px;
}

section.tables table tr td.perCent {
  cursor: pointer;
}

section.tables table tr th.No-border {
  border: none;
}

section.tables table tr td.warning {
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 0;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  color: white;
  background-color: black;
}

section.wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #1b1b1b;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px 7px white;
          box-shadow: 0 0 25px 7px white;
  -webkit-animation: moveDown 3.5s ease-in 1 both;
          animation: moveDown 3.5s ease-in 1 both;
}

section.wrap div {
  width: 30%;
  -webkit-animation: letsGo 2.5s ease-in 1 both;
          animation: letsGo 2.5s ease-in 1 both;
}

section.wrap div h1 {
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
}

section.wrap div h1 a {
  text-decoration: none;
  color: white;
}

section.wrap div.d {
  height: 30%;
  -webkit-animation: letsGo 5.5s ease-in 1 both;
          animation: letsGo 5.5s ease-in 1 both;
}

section.wrap div.nr {
  height: 60%;
  -webkit-animation: letsGo 5.5s ease-in 1 both;
          animation: letsGo 5.5s ease-in 1 both;
}

section.green-box {
  -webkit-box-shadow: 0 0 30px 5px #a6f59f;
          box-shadow: 0 0 30px 5px #a6f59f;
  background-color: rgba(0, 0, 0, 0);
}

section.red-box {
  -webkit-box-shadow: 0 0 30px 5px #b43531;
          box-shadow: 0 0 30px 5px #b43531;
  background-color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes letsGo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes letsGo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveDown {
  0% {
    height: 0;
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  20% {
    opacity: 0;
    height: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    height: 50%;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  99% {
    -webkit-box-shadow: 0 0 25px 7px white;
            box-shadow: 0 0 25px 7px white;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    height: 0;
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  20% {
    opacity: 0;
    height: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    height: 50%;
  }
  50% {
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
  }
  99% {
    -webkit-box-shadow: 0 0 25px 7px white;
            box-shadow: 0 0 25px 7px white;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */