.buttons {
    position: fixed;
    top: 20%;
    right: 10%;
    width: 150px;
    height: 50px;
    text-align: center;
    z-index: 1;


    button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 25px;
        text-transform: uppercase;
        background-color: rgb(16, 47, 16);
        color: white;
        border: none;
        border-radius: 5px;
        outline: none;
        transition: 0.2s linear;
        box-shadow: 0 0 10px grey;
    }

    button:hover {
        background-color: rgb(20, 61, 20);
    }

    button:active {
        background-color: rgb(140, 158, 108);
    }

    button.reset {
        background-color: brown;
    }

    button.reset:hover {
        background-color: red;
    }

    button.reset:active {
        background-color: rgb(175, 76, 76);
    }


}

.buttons:nth-child(2) {
    top: 30%;
}

@media (max-width: 1024px) {
    .buttons {
        top: 20px;
        right: 60%;
        width: 120px;
        height: 40px;

        button {
            font-size: 20px;
        }
    }

    .buttons:nth-child(2) {
        top: 20px;
        right: 25%;
    }
}

@media (max-width: 600px) {
    .buttons:nth-child(2) {
        right: 20%;
    }
}

@media (max-width: 400px) {
    .buttons:nth-child(2) {
        right: 10%;
    }
}