section.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(0, 73, 0), black, rgb(5, 5, 5));
    height: 80vh;
    width: 80%;
    box-shadow: 0 0 10px 3px white;
    border-radius: 10px;

    div {
        text-align: center;
        width: 40%;
        height: 70px;
        margin: 5px;
        font-size: 20px;
        background-color: rgb(88, 88, 88);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        border-radius: 10px;
        transition: 0.3s linear;

        input {
            border: 1px solid black;
            border-radius: 10px;
            width: 70%;
            height: 30px;
            outline: none;
            text-align: center;
            font-size: 18px;
            background-color: white;
        }

        input:focus {
            background-color: rgb(162, 206, 141);
        }

        p {
            margin: 0 auto;
            border: 1px solid black;
            border-radius: 10px;
            width: 70%;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            background-color: rgb(204, 203, 203);
            color: black;
        }
    }

    div:hover {
        background-color: rgb(100, 100, 100);
        box-shadow: 0 0 10px white;
    }
}


@media (max-width: 1024px) {


    section.main {
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: 80vh;
        width: 80%;


        div {
            width: 80%;
            height: 70px;
        }
    }
}