@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: black;
    height: 100vh;
}