section.wrap {
    position: absolute;
    @include flex-box(space-evenly, center);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 25px 7px white;
    animation: moveDown 3.5s ease-in 1 both;

    div {
        width: 30%;
        animation: letsGo 2.5s ease-in 1 both;

        h1 {
            font-size: 80px;
            font-family: 'Indie Flower', cursive;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    div.d {
        height: 30%;
        animation: letsGo 5.5s ease-in 1 both;
    }

    div.nr {
        height: 60%;
        animation: letsGo 5.5s ease-in 1 both;
    }


}

section.green-box {
    box-shadow: 0 0 30px 5px rgb(166, 245, 159);
    background-color: rgba(0, 0, 0, 0);
}

section.red-box {
    box-shadow: 0 0 30px 5px rgb(180, 53, 49);
    background-color: rgba(0, 0, 0, 0);
}

@keyframes letsGo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        height: 0;
        opacity: 0;
        box-shadow: 0 0 0 0 transparent;
    }



    20% {
        opacity: 0;
        height: 0;
    }

    40% {
        opacity: 1;
    }

    45% {
        height: 50%;
    }

    50% {
        box-shadow: 0 0 0 0 transparent;
    }

    99% {
        box-shadow: 0 0 25px 7px white;
    }

    100% {

        opacity: 1;
    }
}