.nat-rub-bg {
    background-color: white;
}

section.tables {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    h1 {
        margin-top: 20px;
    }

    div.sample {
        margin: 10px auto;
    }

    table,
    th,
    td {
        border-collapse: collapse;
        font-size: 17px;
    }

    th,
    td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        width: 100px;
        height: 25px;

        span {
            width: 100%;
            height: 100%;
        }

        input {
            width: 100%;
            height: 100%;
            text-align: center;
            border: none;
            outline: none;
            font-size: 20px;
        }
    }

    table tr td.perCent {
        cursor: pointer;
    }

    table tr th.No-border {
        border: none;
    }

    table tr td.warning {
        color: red;
    }
}